$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) !default;
$enable-negative-margins: true;

$info: #98c1d9;
$primary: #003049;
$warning: #F77F00;
$secondary: #EAE2B7;
$danger: #D62828;

@import "bootstrap/bootstrap";